header {
    background-color: rgb(39, 114, 107);
    Color: rgb(49, 45, 45);
    text-align: left;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
#Myface{
    float: left;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 2px;
}
a {
    color: rgb(49, 45, 45)
}
a:hover {
    color: rgb(39, 114, 107);
}
nav {
    display:flex;
    text-align: center;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
}
nav p {
    padding: 4px;
    border: 1px solid rgb(179, 174, 174);
   background-color: aliceblue;
}
h2 {
    text-decoration: underline;
    font-size: 36px;
    background-color: aliceblue;
    padding: 2px;
    margin: 4px;
    Color: rgb(49,45,45)
}
/* .image-1 {
     width: 800px;
    height: 600px; 
    justify-content:space-between;
    text-align:left;
    border: 9px solid rgb(39,114,107);
}*/
 /* div.image-1 p{
    position: absolute;
    top: 500px;
    left: 9px;
    background-color: rgb(39, 114, 107);
    padding: 10px;
    color: aliceblue;
} */
.page-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin: 25px 0;
    padding: 10px 0;
    font-size: 24px;
}
 /* #My-Work {
    width:auto;
    height: 500px;
} */
.workcontain {
    display:flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
h3 {
    position: relative;
    top: 80%;
    background-color: rgb(39, 114, 107);
}
.image-1 {
    background-image: url("../Images/Stock1.jpeg");
    /* width: 300px; */
    /* height: 300px;  */
    /* justify-content:space-between; */
    border: 9px solid rgb(39,114,107);
}
.image-2 {
    background-image: url("../Images/Stock2.jpeg");
}
.image-3 {
    background-image: url("../Images/Stock3.jpeg");
}
.image-4 {
    background-image: url("../Images/image4.jpeg");
}
.image-5 {
    background-image: url("../Images/Stock5.jpeg");
}
.image-6 {
    background-image: url("../Images/Stock6.jpeg");
}
.image-7 {
    background-image: url("../Images/Stock7.jpeg");
}
.images {
    display: flex;
    background-size: 100%;
    align-items: stretch;
    min-height: 250px;
    max-height: 150px;
    margin: 0.5em;
    flex-wrap: wrap;
    flex-basis: calc(50% - 1em);
    justify-content:space-between;
    flex-direction: row;
    text-decoration: none;
    padding: 0 0 20px 0;
    border: 3px solid rgb(39,114,107);
}
.images:first-child {
    min-height: 450px;
    flex-basis: 100%;
    }
 .image-1:hover {
   color:aliceblue;
    cursor: grab;
    opacity: 20%;
 }
.image-2:hover {
    color:aliceblue;
    cursor: grab;
    opacity: 20%;
}
.image-3:hover {
    color:aliceblue;
    cursor: grab;
    opacity: 20%;
}
.image-4:hover {
    color:aliceblue;
    cursor: grab;
    opacity: 20%;
}
.image-5:hover {
    color:aliceblue;
    cursor: grab;
    opacity: 20%;
}
.image-6:hover {
    color:aliceblue;
    cursor: grab;
    opacity: 20%;
}
.image-7:hover {
    color:aliceblue;
    cursor: grab;
    opacity: 20%;
}
@media screen and (max-width: 900px) {
    nav, section, footer {
        flex-direction: column;
        display: flex;
    }
    .image-1{
        width:500px;
        Height:400px;
    }
}
@media screen and (max-width: 700px){
    .image-1{
        width: 400px;
        height:300px;
    }
}