header {
    background-color: rgb(39, 114, 107);
    Color: rgb(49, 45, 45);
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
#Myface{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
a {
    color: rgb(49, 45, 45)
}
a:hover {
    color: rgb(39, 114, 107);
}
nav {
    display:flex;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
}
nav p {
    padding: 4px;
    border: 1px solid rgb(179, 174, 174);
   background-color: aliceblue;
}
h2 {
    display: block;
    font-size: 36px;
    background-color: aliceblue;
    Color: rgb(49,45,45)
}
section, footer {
    display: relative;
    text-align: start;
    font-size: 24px;
    padding: 4px;
    justify-content: end;
}
#image1 {
    display:flex;
    float:left;
    width: 800px;
    height: 600px;
    justify-content:center;
    border: 6px solid rgb(39,114,107);
}
#First-text {
    position: absolute;
    bottom: 300px;
    display: block;
    background-color: rgb(39,114,107);
    color: rgb(49, 45, 45);
}
#image1:hover {
    color:aliceblue;
    cursor: grab;
    opacity: 20%;
}
.images2 {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:space-between;
    flex-direction: row;
    width:400px;
    height:300px;
    border: 4px solid rgb(39,114,107);
}
#stock2:hover {
    color:aliceblue;
    cursor: grab;
    opacity: 20%;
}
#stock3:hover {
    color:aliceblue;
    cursor: grab;
    opacity: 20%;
}
#stock4:hover {
    color:aliceblue;
    cursor: grab;
    opacity: 20%;
}
#stock5:hover {
    color:aliceblue;
    cursor: grab;
    opacity: 20%;
}
#stock6:hover {
    color:aliceblue;
    cursor: grab;
    opacity: 20%;
}
#stock7:hover {
    color:aliceblue;
    cursor: grab;
    opacity: 20%;
}
@media screen and (max-width: 900px) {
    nav, section, footer {
        flex-direction: column;
        display: block;
    }
    #image1{
        width:500px;
        Height:400px;
    }
}
@media screen and (max-width: 700px){
    #image1{
        width: 400px;
        height:300px;
    }
}